/*font-family: 'Poppins', sans-serif;
font-family: 'Inter', sans-serif;*/

* {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
    margin-bottom: 79px;
}

.nav {
    width: calc(100% - 224px);
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 41px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.logo-container {
    width: 90px;
    height: auto;
    margin-right: 65px;
}

.nav-container,
.nav-container>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 100%;
}

.middle-nav-list .nav-item {
    margin-right: 33px;
}

.right-nav-list li:nth-child(2)::before {
    content: "";
    display: inline-block;
    margin: 0px 30px;
    width: 1px;
    height: 19px;
    background: #DAD8D8;
}

.right-nav-list li {
    display: flex;
    align-items: center;
}

.right-nav-list li>a {
    display: block;
    align-items: center;
}

.right-nav-list li>img {
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.nav-item {
    display: inline-block;
    transition: all .2s ease;
    box-sizing: border-box;
    position: relative;
}

.nav-item::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #B00000;
    border-radius: 10px;
    margin: 4px auto 0px;
    transition: all .2s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item:hover::after {
    width: 70%;
}

.open-close-menu {
    position: absolute;
    top: 39px;
    right: 120px;
    display: none;
}

.hamburger-btn,
.cross-btn {
    position: absolute;
    padding: 0px;
    border: none;
    background: transparent;
}

.hamburger-btn {
    top: 4px;
    left: 4px;
}

.hamburger-icon {
    width: 40px;
}

.hero {
    width: calc(100% - 224px);
    height: 521px;
    margin: 80px auto;
}

.slider-btn-container {
    width: fit-content;
    height: fit-content;
    display: block;
}

.slider-btn-container::after {
    content: "";
    display: block;
    margin: auto;
    width: 242px;
    height: 1px;
    background: #E5E5E5;
}

.slider-sections {
    display: flex;
    width: 248px;
    height: 27px;
    justify-content: space-between;
    align-items: center;
}

.pr-nav-btn {
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: rgba(214, 212, 212, 0.88);
    padding: 0px;
    position: relative;
    transition: all .2s ease;
}

.pr-nav-btn:hover,
.pr-nav-btn:focus {
    color: #B00000;
}

.pr-nav-btn::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #B00000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -4px;
    transition: all .2s ease;
}

.pr-nav-btn:hover::after,
.pr-nav-btn:focus::after {
    width: 90%;
}

.slider-item {
    width: 100%;
    height: 100%;
    margin-top: -25px;
}

.slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.slide-text {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.slide-head {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #2E2E2E;
    margin: 26px 0px 0px;
}

.slide-p {
    width: 448px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    letter-spacing: 0.05em;
    /* Text/Body */
    color: #808080;
    margin: 34px 0px 60px;
}

.slide-anc a {
    box-sizing: border-box;
    padding: 12px;
    /* Base/Black */
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    /* Base/Black */
    color: #000000;
    transition: all .2s ease;
    margin-right: 24px;
}

.slide-anc a:hover {
    background: #B00000;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
    border-color: #B00000;
    color: #FFFFFF;
}

.slide-img {
    position: relative;
}

.main-img {
    width: 501px;
    height: 504px;
    background-color: #2E2E2E;
    margin: 17px 25px 0px 0px;
}

.triangle {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1111;
}

.triangle-1 {
    top: 80px;
    right: 0px;
    rotate: 270deg;
}

.triangle-2 {
    bottom: 161px;
    right: 512px;
}

.triangle-3 {
    bottom: 41px;
    right: 0px;
    rotate: 270deg;
    width: 72px;
    height: 72px;
}


/* HEADER */

.section-3 {
    width: 1284px;
    height: 547px;
    margin: 0px auto 133px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s3-text {
    width: 50%;
}

.s3-header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 0px;
}

.s3-context {
    width: 573px;
    height: fit-content;
    /* Lead / Lead 1 */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 40px 0px 0px;
}

.s3-partners {
    width: 43%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

.s3-adv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 118px;
}

.s3-adv-section-logo {
    width: 100px;
    height: 100px;
}

.s3-adv-section-head {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
    margin: 12px 0px 4px;
}

.s3-adv-section-context {
    width: 252px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}


/*SECTION 3*/


/*SECTION 4*/

.section-4 {
    width: calc(100% - 342px);
    height: fit-content;
    margin: 0px auto 105px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.s4-group-1 {
    width: 856px;
    height: 411px;
    margin: 0px auto 85px;
}

.s4-group-1-head {
    width: 650px;
    margin: 0px auto;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.s4-group-1-context {
    margin: 38px auto 57px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #000000;
}

.switch-toggle {
    width: fit-content;
    margin: 0px auto 71px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height, or 100% */
    color: #000000;
}


/* TOGGLE SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 93px;
    height: 50px;
    margin: 0px 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B00000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    left: unset;
    right: 9px;
}


/* Rounded sliders */

.slider.round {
    border-radius: 73px;
}

.slider.round:before {
    border-radius: 73px;
}


/* TOGGLE SWITCH */

.toggle-right {
    position: relative;
}

.discount-tag {
    position: absolute;
    background: #FFE87A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 9px;
    /* or 90% */
    text-align: center;
    color: #000000;
    width: 71px;
    height: 10px;
    padding: 7px 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 94px;
}

.tariff-plan {
    width: 856px;
    margin: auto;
}

.tariff-slider::after {
    width: 856px;
    height: 4px;
    background: #C4C4C4;
}

.tariff-slider-sections {
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.tariff-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    width: 50%;
}

.tariff-btn:hover::after,
.tariff-btn:focus::after {
    width: 100%;
}

.tariff-btn::after {
    height: 4px;
    bottom: -6px;
}


/*TARIFF PLAN SLIDER*/

.tariff-slide-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.tariff-price {
    width: 299px;
    height: 716px;
    background: #FFFFFF;
    border: 1.5px solid #C4C4C4;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 34px;
    box-sizing: border-box;
}

.tariff-head {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
    color: #000000;
    margin: 0px;
}

.tariff-context {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #000000;
    margin: 11px 0px 28px;
}

.price {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
    /* identical to box height, or 76% */
    color: #000000;
    margin-bottom: 60px;
    position: relative;
}

.price-term {
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    bottom: -25px;
    left: 0px;
}

.choose-plan {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 12px;
    text-align: center;
    margin: auto;
    display: block;
    width: fit-content;
    padding: 9px 52px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    /* identical to box height, or 229% */
    text-align: center;
    color: #000000;
    transition: all .2s ease;
}

.choose-plan:hover {
    background: #B00000;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
    border-color: #B00000;
    color: #FFFFFF;
}

.plan-benefits {
    list-style-image: url(images/icons/bullet-point.png);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Text/Body */
    color: #808080;
    margin-top: 35px;
}

.plan-benefit {
    margin-bottom: 15px;
}

.plan-benefit span {
    position: relative;
    left: 24px;
}


/*TARIFF PLAN SLIDER*/


/*SECTION 4*/


/*SECTION 5*/

.section-5 {
    width: calc(100% - 208px);
    margin: 0px auto 106px;
    position: relative;
}

.quote-img {
    position: absolute;
    width: 143px;
    height: 120px;
    left: 64px;
    top: 0px;
    opacity: 0.3;
    z-index: -1;
}

.s5-group1 {
    width: 1015px;
    height: 752px;
    margin: auto;
    display: grid;
    grid-template-areas: 'section1 section2' 'section3 section2' 'section3 section4';
    grid-gap: 30px;
    padding-top: 30px;
}

.s5-group1-section {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.s5-group1-section1 {
    width: 445px;
    height: 168px;
    grid-area: section1;
    align-self: end;
    justify-self: end;
}

.s5-group1-section1-head {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 0px;
}

.s5-group1-section1-subhead {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 8px 0px 0px;
}

.s5-group1-section2,
.s5-group1-section3,
.s5-group1-section4 {
    padding: 0px 64px;
    box-sizing: border-box;
}

.s5-group1-section2 {
    width: 445px;
    height: 340px;
    grid-area: section2;
    align-self: end;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.s5-group1-section2 img {
    margin-top: 39px;
}

.section-5-quote {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    color: #000000;
    margin: 15px 0px 0px 0px;
}

.section-5-quote img {
    position: absolute;
    width: 16px;
    height: 14px;
    opacity: 0.3;
    top: 0px;
    left: -32px;
    margin: 0px;
}

.quote-author {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 10px 0px 0px 0px;
}

.quote-author-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 700 */
    color: #969BAB;
    margin: 0px;
}

.s5-group1-section3 {
    width: 350px;
    height: 468px;
    grid-area: section3;
    justify-self: end;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.s5-group1-section3 .section-5-quote {
    margin-top: -18px;
}

.s5-group1-section4 .section-5-quote {
    margin-top: -4px;
}

.s5-group1-section4 {
    width: 350px;
    height: 276px;
    grid-area: section4;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}


/*SECTION 5 group 2*/

.s5-group2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.s5-group2-left {
    width: 445px;
    height: 200px;
}

.s5-group2-head {
    margin: 0px 0px 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}

.s5-group2-subhead {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 0px;
}

.s5-group2-right {
    width: 478px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/*SECTION 5 group 2*/


/*SECTION 5*/


/*SECTION 6*/

.section-6 {
    width: calc(100% - 200px);
    margin: 0px auto 110px;
    text-align: center;
    height: 432px;
    position: relative;
    padding-top: 80px;
    box-sizing: border-box;
    background: #F7FAFE;
    border-radius: 16px;
}

.triangle-1-s6 {
    top: 0px;
    right: unset;
    left: 434px;
}

.triangle-2-s6 {
    bottom: 88px;
    right: unset;
    left: -10px;
}

.triangle-3-s6 {
    bottom: 40px;
    right: -20px;
}

.section-6-inner {
    width: 1024px;
    margin: auto;
}

.s6-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 88px;
    color: #2E2E2E;
    margin: 0px auto 40px;
}

.contact-link {
    background: #B00000;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    width: 208px;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    transition: all .2s ease;
}

.contact-link:hover {
    opacity: .9;
}


/*SECTION 6*/


/*FOOTER*/

.footer {
    width: 100%;
    padding: 80px 104px;
    box-sizing: border-box;
    background: #B00000;
    color: #E6E6E6;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-section-1 {
    width: 296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.logo-img-white {
    width: 120.96px;
    height: 80px;
}

.footer-section-1-text {
    margin: 16px 0px 0px;
}

.footer-section-head {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-section-links {
    padding: 0px;
    margin: 0px;
}

.footer-section-link {
    margin-bottom: 24px;
    transition: all .2s ease;
}

.footer-section-link:hover {
    color: #FFFFFF;
}

.footer-section-link:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1366px) {
    .header {
        margin-bottom: 100px;
    }
    .hero {
        height: 430px;
    }
    .slide-text {
        width: 470px;
    }
    .slide-head {
        font-size: 48px;
        line-height: 54px;
    }
    .main-img {
        width: auto;
        height: 430px;
    }
    .triangle-2 {
        bottom: 116px;
        right: 436px;
    }
    /*HEADER*/
    .section-3 {
        width: 1100px;
    }
    .s3-text {
        width: 40%;
    }
    .s3-header {
        font-size: 38px;
        line-height: 48px;
    }
    .s3-context {
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        margin: 20px 0px 0px;
    }
    .s3-partners {
        width: 50%;
    }
    .s3-adv {
        margin-top: 70px;
    }
    .s3-adv-section-logo {
        width: 80px;
        height: 80px;
    }
    .s3-adv-section-head {
        font-size: 18px;
        line-height: 28px;
    }
    .section-3 {
        margin: 0px auto 100px;
    }
    /*SECTION 3*/
    .s4-group-1 {
        width: 700px;
        height: fit-content;
    }
    .s4-group-1-head {
        width: 500px;
        font-size: 38px;
        line-height: 50px;
    }
    .s4-group-1-context {
        margin: 30px auto 44px;
        font-size: 21px;
        line-height: 21px;
    }
    .switch-toggle {
        margin: 0px auto 54px;
        font-size: 20px;
        line-height: 20px;
    }
    .switch {
        width: 70px;
        height: 34px;
    }
    .slider::before {
        width: 25px;
        height: 25px;
        left: 5px;
    }
    input:checked+.slider::before {
        right: 5px;
    }
    .discount-tag {
        font-size: 8px;
        line-height: 9px;
        width: 60px;
        padding: 5px 6px;
        left: 78px;
    }
    .tariff-plan {
        width: 700px;
    }
    .tariff-slider::after {
        width: 700px;
    }
    .tariff-btn {
        font-size: 24px;
        line-height: 30px;
    }
    .tariff-price {
        padding: 24px;
        width: 270px;
        height: 640px;
    }
    .tariff-head {
        font-size: 26px;
    }
    .tariff-context {
        margin: 11px 0px 20px;
    }
    .price {
        font-size: 38px;
        margin: 0px 0px 50px 0px;
    }
    .choose-plan {
        padding: 4px 22px;
    }
    .plan-benefits {
        font-size: 14px;
        line-height: 18px;
        margin-top: 30px;
    }
    .s4-group-2 {
        width: 900px;
        margin: auto;
    }
    /*SECTION 4*/
    .s5-group1 {
        padding-top: 0px;
    }
    .s5-group1-section1 {
        width: 380px;
        height: 150px;
    }
    .s5-group1-section1-head {
        font-size: 36px;
        line-height: 46px;
    }
    .s5-group1-section1-subhead {
        font-size: 16px;
        line-height: 24px;
    }
    .s5-group1-section2,
    .s5-group1-section3,
    .s5-group1-section4 {
        padding: 0px 50px;
    }
    .s5-group1-section2 {
        width: 350px;
    }
    .section-5-quote {
        font-size: 14px;
        line-height: 25px;
    }
    .quote-author {
        font-size: 16px;
        line-height: 26px;
    }
    .s5-group1-section3 {
        width: 350px;
        height: 350px;
    }
    .s5-group1-section4 {
        width: 315px;
        height: 200px;
    }
    .s5-group2 {
        margin-top: 90px;
        align-items: center;
    }
    .s5-group2-left {
        width: 400px;
        height: 180px;
    }
    .s5-group2-head {
        font-size: 38px;
        line-height: 48px;
    }
    .s5-group2-subhead {
        font-size: 16px;
        line-height: 28px;
    }
    .s5-group2-right {
        width: 394px;
        height: 215px;
    }
    .s5-group2-logos {
        width: 100px;
        height: 100px;
    }
    /*SECTION 5*/
    .section-6 {
        height: 342px;
        margin-bottom: 100px;
    }
    .section-6-inner {
        width: 700px;
    }
    .s6-header {
        font-size: 46px;
        line-height: 56px;
    }
    /*SECTION 6*/
}

@media screen and (max-width: 1200px) {
    .section-3 {
        width: 900px;
        height: fit-content;
    }
    .s3-text {
        width: 45%;
    }
    .s3-partners {
        width: 40%;
        height: 200px;
    }
    .partner-logo {
        width: 30%;
        height: auto;
    }
    .s3-adv-section-head {
        font-size: 16px;
    }
    .s3-adv-section-context {
        width: 170px;
        margin: auto;
    }
}

@media screen and (max-width: 1130px) {
    .nav {
        font-size: 12px;
    }
    .slider-btn-container::after {
        width: 196px;
    }
    .slider-sections {
        width: 200px;
    }
    .pr-nav-btn {
        font-size: 12px;
    }
    .slide-text {
        width: 350px;
    }
    .slide-head {
        font-size: 34px;
        line-height: 44px;
    }
    .slide-p {
        width: 350px;
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0px 44px;
    }
    .slide-anc a {
        padding: 8px;
        font-size: 12px;
        margin-right: 10px;
    }
    .hero {
        width: 750px;
    }
    .slide-img {
        height: fit-content;
    }
    .main-img {
        height: 360px;
        margin: 10px 15px 0px 0px;
    }
    .triangle {
        width: 30px;
        height: 30px;
    }
    .triangle-2 {
        right: 356px;
    }
    .triangle-3 {
        width: 52px;
        height: 52px;
    }
    .section-3 {
        width: 750px;
    }
    .s3-header {
        font-size: 34px;
        line-height: 44px;
    }
    .s3-context {
        font-size: 14px;
        line-height: 24px;
    }
    .s3-adv-section-logo {
        width: 60px;
        height: 60px;
    }
    .s3-adv-section-head {
        font-size: 14px;
        line-height: 24px;
    }
    .section-4 {
        width: 750px;
    }
    .s4-group-1-head {
        width: 360px;
        font-size: 34px;
        line-height: 44px;
    }
    .s4-group-1-context {
        margin: 22px auto 30px;
        font-size: 18px;
    }
    .switch-toggle {
        font-size: 18px;
    }
    .switch {
        width: 50px;
        height: 26px;
        margin: 0px 18px;
    }
    .slider::before {
        width: 17px;
        height: 17px;
        left: 4px;
    }
    .discount-tag {
        font-size: 7px;
        line-height: 10px;
        width: 52px;
        padding: 3px 4px;
        left: 64px;
    }
    .tariff-plan {
        width: fit-content;
    }
    .tariff-plan .tariff-slider::after {
        width: 310px;
    }
    .tariff-slider-sections {
        width: 310px;
    }
    .tariff-btn {
        font-size: 16px;
    }
    .s4-group-2 {
        width: 750px;
    }
    .tariff-price {
        padding: 12px;
        width: 32%;
        height: 576px;
    }
    .tariff-head {
        font-size: 24px;
    }
    .price {
        font-size: 28px;
        margin: 0px 0px 36px 0px;
    }
    .price-term {
        font-size: 12px;
        bottom: -14px;
    }
    .s5-group1 {
        width: 750px;
    }
    .s5-group1-section1 {
        width: 290px;
        height: 130px;
    }
    .s5-group1-section1-head {
        font-size: 34px;
        line-height: 44px;
    }
    .s5-group2 {
        margin-top: 30px;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .s5-group2-left {
        width: 520px;
        height: 160px;
    }
    .s5-group2-head {
        font-size: 34px;
        line-height: 44px;
    }
    .section-6 {
        width: 750px;
        height: 314px;
    }
    .section-6-inner {
        width: 430px;
    }
    .s6-header {
        font-size: 34px;
        line-height: 44px;
        margin: 0px auto 20px;
    }
    .footer-section-1 {
        width: 230px;
        font-size: 12px;
        line-height: 24px;
    }
    .footer-section-head {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 14px;
    }
    .footer-section-link {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1035px) {
    .logo-container {
        width: 70px;
        margin-right: 40px;
    }
    .logo-container img {
        width: 70px;
        height: auto;
    }
    .middle-nav-list {
        padding: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        width: 750px;
    }
    .nav-container {
        flex-direction: column;
        width: 106px;
        position: absolute;
        top: 40px;
        right: 17%;
        display: none;
    }
    .middle-nav-list {
        flex-direction: column;
        margin: 0px;
    }
    .middle-nav-list .nav-item {
        margin-right: 0px;
    }
    .right-nav-list {
        padding: 0px;
        flex-direction: column;
        margin: 0px;
    }
    .right-nav-list li:nth-child(2)::before {
        display: none;
    }
    .nav-item::after {
        display: none;
    }
    .nav-container,
    .nav-container>ul {
        align-items: start;
    }
    .right-nav-list li>img {
        display: none;
    }
    .open-close-menu {
        display: block;
        right: 16%;
    }
    .cross-btn {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .open-close-menu {
        right: 13%;
    }
    .nav-container {
        right: 13%;
        z-index: 999;
        background-color: #ffffffb2;
    }
    .nav {
        width: 200px;
        margin-left: 50px;
    }
    .hero {
        width: 650px;
        margin: 20px auto;
        height: 320px;
    }
    .slider-btn-container {
        margin: auto;
    }
    .slide-img {
        display: none;
    }
    .slide-text {
        width: 400px;
        align-items: center;
        text-align: center;
        margin: 0px auto;
    }
    .section-3 {
        width: 650px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s3-text {
        width: 400px;
    }
    .s3-context {
        margin: 24px 0px 44px;
    }
    .s3-partners {
        width: 400px;
        margin-right: 0px;
    }
    .s3-adv {
        margin-top: 25px;
        flex-wrap: wrap;
        width: 450px;
    }
    .s3-adv-section {
        width: 45%;
        margin-top: 30px;
    }
    .s3-adv-section-context {
        width: 100%;
    }
    .section-4 {
        width: 650px;
    }
    .s4-group-1 {
        width: 100%;
    }
    .s4-group-2 {
        width: 100%;
    }
    .plan-benefit span {
        left: 0px;
    }
    .quote-img {
        width: 129px;
        height: auto;
        left: 58px;
        top: -55px;
    }
    .section-5 {
        width: 650px;
    }
    .s5-group1 {
        width: 650px;
        height: 1120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .s5-group1-section1 {
        width: 400px;
        height: 130px;
        align-self: unset;
        text-align: center;
    }
    .s5-group1-section2,
    .s5-group1-section3,
    .s5-group1-section4 {
        width: 400px;
        align-self: unset;
        padding: 0px 50px 40px;
    }
    .section-6 {
        width: 550px;
    }
    .footer {
        padding: 40px 90px;
    }
    .footer-inner {
        flex-wrap: wrap;
    }
    .logo-img-white {
        width: 70px;
        height: auto;
    }
    .footer-section-1 {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .open-close-menu {
        right: 15%;
    }
    .nav-container {
        right: 15%;
    }
    .hero {
        width: 400px;
    }
    .section-3 {
        width: 400px;
        align-items: unset;
    }
    .s3-adv {
        width: 400px;
    }
    .section-4 {
        width: 400px;
    }
    .tariff-slide-item {
        flex-direction: column;
    }
    .tariff-price {
        padding: 40px;
        width: 280px;
        height: 620px;
        margin: 0px auto 40px;
    }
    .plan-benefit span {
        left: 24px;
    }
    .section-5 {
        width: 400px;
    }
    .quote-img {
        left: 0px;
    }
    .s5-group1 {
        width: 100%;
    }
    .s5-group2-left {
        width: 100%;
    }
    .section-6 {
        width: 400px;
        height: 230px;
        padding: 46px;
    }
    .triangle {
        display: none;
    }
    .section-6-inner {
        width: 100%;
    }
    .s6-header {
        font-size: 24px;
        line-height: 34px;
    }
}

@media screen and (max-width: 570px) {
    .open-close-menu {
        right: 16%;
    }
    .nav-container {
        right: 16%;
    }
    .footer-section-2,
    .footer-section-3,
    .footer-section-4,
    .footer-section-5 {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .open-close-menu {
        right: 20%;
    }
    .nav-container {
        right: 20%;
    }
}

@media screen and (max-width: 420px) {
    .open-close-menu {
        right: 23%;
    }
    .nav-container {
        right: 23%;
    }
    .hero {
        width: 300px;
        height: 310px;
    }
    .slide-text {
        width: 100%;
    }
    .slide-p {
        width: 100%;
    }
    .section-3 {
        width: 300px;
    }
    .s3-text {
        width: 100%;
    }
    .s3-partners {
        width: 100%;
        height: 260px;
    }
    .partner-logo {
        width: 45%;
    }
    .s3-adv {
        width: 100%;
    }
    .s3-adv-section:first-child {
        margin-top: 5px;
    }
    .section-4 {
        width: 300px;
    }
    .s4-group-1-head {
        width: 100%;
    }
    .tariff-plan {
        width: 100%;
    }
    .tariff-plan .tariff-slider::after {
        width: 300px;
    }
    .tariff-slider-sections {
        width: 100%;
    }
    .slide-head,
    .s3-header,
    .s4-group-1-head,
    .s5-group1-section1-head,
    .s5-group2-head {
        font-size: 28px;
        line-height: 38px;
    }
    .section-5 {
        width: 300px;
    }
    .quote-img {
        width: 80px;
        top: -28px;
    }
    .s5-group1-section1 {
        width: 100%;
    }
    .s5-group1-section2,
    .s5-group1-section3,
    .s5-group1-section4 {
        width: 100%;
        padding: 0px 10px 25px 40px;
    }
    .section-5-quote img {
        left: -25px;
    }
    .s5-group2-right {
        width: 100%;
        height: 405px;
        margin-top: 30px;
    }
    .s5-group2-logos {
        width: 45%;
        height: auto;
    }
    .section-5 {
        margin: 0px auto 50px;
    }
    .section-6 {
        width: 300px;
        height: 210px;
        padding: 20px;
    }
    .footer {
        padding: 30px;
    }
}

@media screen and (max-width: 370px) {
    .open-close-menu {
        right: 27%;
    }
    .nav-container {
        right: 27%;
    }
    .discount-tag {
        left: 0px;
        top: 32px;
    }
}